<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/style.css">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="./js/common.js"></script>
    </head>
    
    <header>
        <img src="img/SOAREST_logo.png">
        <nav>
            <ul>
                <li><a href="#">
                        <!-- ユーザーID -->
                        <th:block th:if="${loginUser}">
                            <p align="center" th:text="${loginUser.staffId}" id="userId">
                        </th:block>
                    </a>
                </li>
                <li>
                    <th:block th:if="${loginUser}">
                    <form th:action="@{/logout}" name="logout" method="get">
                        <a href="/logout" onclick="logout();">ログアウト</a>
                    </form>
                    </th:block>
                </li>
            </ul>
        </nav>
        
        <th:block th:if="${loginUser}">
            <!-- バーガーメニュー -->
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="globalMenuSp">
                <ul>
                    <li><a href="/top" onclick="toTop();"><b>管理画面TOP</b></a></li>
                    <li><a href="/account_list" onclick="toAccountList();"><b>アカウント管理</b></a></li>
                    <li><a href="/mtg_list" onclick="toMtgList();"><b>打ち合わせ予定管理</b></a></li>
                </ul>
            </nav>
        </th:block>
    </header>
</html>