<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- ヘッダー読み込み -->
    <div th:include="common/header"></div>
    <title>打ち合わせ情報変更</title>
    <body>
        <!-- 打ち合わせ情報一覧 -->
        <h1 id="mtg_list">打ち合わせ情報変更</h1>

        <!-- エラー文言表示部分 -->
        <th:block th:if="${errMsg}">
            <p style="color: red;" align="center" th:text="${errMsg}" id="errmsg">
        </th:block>
        <div id="form">
            <form th:action="@{/mtg_update_conf}" method="post">
                <div class="contact-form" id="clearForm">
                    <table>
                        <tr>
                            <th>主担当<span class="m_label m_label__required"></span><span style="padding:0px 10px; margin-bottom: 1px; border-style: none solid #333333; background-color: #ff0000;"><font color="FFFFFF">必須</font></span></th>
                            <td>
                                <select id="userId" name="userId" th:value="${userId}">                 
                                    <option
                                        th:each="staff : ${staffList}"
                                        th:value="${staff.staffId}"
                                        th:text="${staff.staffName}"
                                        th:selected="${staff.staffId == userId}">
                                   </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>副担当</th>
                            <td>
                                <select id="subUserId" name="subUserId" th:value="${subUserId}">
                                    <option
                                        th:each="staff : ${staffList}"
                                        th:value="${staff.staffId}"
                                        th:text="${staff.staffName}"
                                        th:selected="${staff.staffId == subUserId}">
                                   </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<th>相手会社名</th>
                        		<td><input type="text" name="clientCompName" th:value="${clientCompName}"></td>
                        </tr>
                        <tr>
                        	<th>相手氏名<span class="m_label m_label__required"></span><span style="padding:0px 10px; margin-bottom: 1px; border-style: none #333333; background-color: #ff0000;"><font color="FFFFFF">必須</font></span></th>
                        	<td><input type="text" name="clientName" th:value="${clientName}"></td>
                        </tr>
                        <tr>
                        	<th>予定日<span class="m_label m_label__required"></span><span style="padding:0px 10px; margin-bottom: 1px; border-style: none solid #333333; background-color: #ff0000;"><font color="FFFFFF">必須</font></span></th>
                        	<td><input type="date" name="scheduledDate" th:value="${scheduledDate}"></td>
                        </tr>
                        <tr>
                        	<th>予定時刻<span class="m_label m_label__required"></span><span style="padding:0px 10px; margin-bottom: 1px; border-style: none  solid #333333; background-color: #ff0000;"><font color="FFFFFF">必須</font></span></th>
                        	<td><input type="time" name="scheduledTime" th:value="${scheduledTime}"></td>
                        </tr>
                        <tr>
                            <th>会議室名<span class="m_label m_label__required"></span><span style="padding:0px 10px; margin-bottom: 1px; border-style: none solid #333333; background-color: #ff0000;"><font color="FFFFFF">必須</font></span></th>
                            <td>
                                <select id="roomId" name="roomId" th:value="${roomId}">
                                   <option
                                        th:each="room : ${roomList}"
                                        th:value="${room.roomId}"
                                        th:text="${room.roomName}"
                                        th:selected="${room.roomId == roomId}">
                                   </option>
                                </select>
                                
                                <th:block th:each="room,stat : ${roomList}">
                                	<input type="hidden" th:attr="name='roomList[' + __${stat.index}__ + '].roomId'" th:value="${room.roomId}" />
                                	<input type="hidden" th:attr="name='roomList[' + __${stat.index}__ + '].roomName'" th:value="${room.roomName}" />
                               	</th:block>>
                                
                                ※その他を選択された場合は、打ち合わせ場所を入力してください
                                <input type="text" id="mtgPlace" name="mtgPlace" th:value="${mtgPlace}" disabled="disabled">
                            </td>
                        </tr>
                        <tr>
                        	<th>目的<span class="m_label m_label__required"></span><span style="padding:0px 10px; margin-bottom: 1px; border-style: none solid #333333; background-color: #ff0000;"><font color="FFFFFF">必須</font></span></th>
                            <td>
                                <select id="purpose" name="purpose" th:value="${purpose}">
                                   <option
                                        th:each="purpose : ${purposeList}"
                                        th:value="${purpose.mtgId}"
                                        th:text="${purpose.mtgName}"
                                        th:selected="${purpose.mtgId == mtgId}">
                                   </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<th>コメント</th>
                       		<td><textarea name="comment" rows="10" cols="52" maxlength="200" th:text="${comment}"></textarea></td>
                   		</tr>
                    </table>
                </div>

				<!-- 変更前情報保持 -->
            	<input type="hidden" name="scheduleId" th:value="${scheduleId}">
                <input type="hidden" name="oldUserId" th:value="${oldUserId}">
                <input type="hidden" name="oldSubUserId" th:value="${oldSubUserId}">
                <input type="hidden" name="oldClientCompName" th:value="${oldClientCompName}">
                <input type="hidden" name="oldClientName" th:value="${oldClientName}">
                <input type="hidden" name="oldScheduledDate" th:value="${oldScheduledDate}">
                <input type="hidden" name="oldScheduledTime" th:value="${oldScheduledTime}">
                <input type="hidden" name="oldRoomId" th:value="${oldRoomId}">
                <input type="hidden" name="oldMtgPlace" th:value="${oldMtgPlace}">
                <input type="hidden" name="oldMtgId" th:value="${oldMtgId}">
                <input type="hidden" name="oldComment" th:value="${oldComment}">
                <input type="hidden" name="lastUpdateDate" th:value="${lastUpdateDate}">
	            	
                <!-- ボタンエリア -->
                <div style="text-align: center;">
                	<input type="button" value="戻る" style="margin-top:20px;" onclick="location.href=' mtg_list'" >
                    <input type="button" value="クリア" style="margin-top:20px;" onclick="clearText()" />
                    <input type="submit" value="変更" style="margin-top:20px;">
                </div>
            </form>
        </div>

        <!-- フッター読み込み -->
        <div th:include="common/footer"></div>

        <!-- JS -->
        <script th:inline="javascript"> // 変数を使うためインラインにjavascriptを設定する
            $('#roomId').change(function() {
                let rmId = $('#roomId').val();
             	// ↓コメントアウトではなくサーバーサイドの変数を取得している、取得できなかったとき初期値9999となる
                const other = /*[[${othersStatus}]]*/ 9999;
                // その他を選択した場合、非活性を解除する
                if(rmId == other) {
                    $('#mtgPlace').prop("disabled", false);
                } else {
                    $('#mtgPlace').prop("disabled", true);
                }
            });
            $(document).ready(function() {
                let rmId = $('#roomId').val();
             	// ↓コメントアウトではなくサーバーサイドの変数を取得している、取得できなかったとき初期値9999となる
                const other = /*[[${othersStatus}]]*/ 9999;
                if(rmId == other) {
                    $('#mtgPlace').prop("disabled", false);
                } else {
                    $('#mtgPlace').prop("disabled", true);
                }
                // ページング付与
                $(".search-result").paginate({
                    jqueryui: false,
                    position: "bottom",
                });
            });
        </script>
    </body>
</html>