<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- ヘッダー読み込み -->
    <div th:include="common/header"></div>
    <!-- ヘッダー読み込み -->
    <!-- div th:include="::commonHeader"></div>  -->
    
    <title>アカウント情報登録確認</title>
    <body>
        <h1 id="acount">アカウント情報登録完了</h1>
		<h2 align="center" th:text="${message}"></h2>
		
        <form th:action="@{/account_register}" method="post">
            <!-- ボタンエリア -->
            <div style="text-align: center;"> 
	            <input type="submit" value="アカウント情報登録画面へ戻る">
            </div>
        </form>
        <!-- フッター読み込み -->
        <div th:include="common/footer"></div>
    </body>
</html>