<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- ヘッダー読み込み -->
    <div th:include="common/header"></div>
    <!-- ヘッダー読み込み -->
    <!-- div th:include="::commonHeader"></div>  -->
    
    <title>アカウント情報変更完了</title>
    <body>
        <h1 id="acount">アカウント情報変更完了</h1>
        <h2 align="center" th:text="${message}"></h2>
		
        <div style="text-align: center;">
        <form th:action="@{/account_update}" method="post">
           	<!-- 情報保持 -->
            <input type="hidden" name="userId" th:value="${userId}">
            <input type="hidden" name="userName" th:value="${userName}">
            <input type="hidden" name="department" th:value="${department}">
            <input type="hidden" name="role" th:value="${role}">
      		<!-- 変更前情報保持 -->
      		<input type="hidden" name="oldUserId" th:value="${userId}">
            <input type="hidden" name="oldUserName" th:value="${userName}">
            <input type="hidden" name="oldDepartment" th:value="${department}">
            <input type="hidden" name="oldRole" th:value="${role}">
      		<!-- 戻るボタン -->
           	<input type="submit" value="アカウント情報変更に戻る">
        </form>
    	</div>
        <!-- フッター読み込み -->
        <div th:include="common/footer"></div>
    </body>
</html>