<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- ヘッダー読み込み -->
    <div th:include="common/header"></div>

    <title>システムエラー</title>
    <body>
        <!-- エラーメッセージ -->
        <th:block th:if="${status == 500}">
            <h1>システムエラーが発生しました。</h1>
        </th:block>
        <th:block th:if="${status == 404}">
            <h1>ページが見つかりませんでした。</h1>
            <p align="center">お探しのページは、移動または削除された可能性があります。</p>
        </th:block>
        <p align="center">大変お手数ですが、サイト管理者までご連絡ください。</p>
        <!-- ログインの場合 -->
        <th:block th:if="${session['loginUser']}">
            <div style="text-align: center;">
                <input type="submit" value="管理画面TOPへ戻る" onclick="redirectToTop();">
            </div>
        </th:block>
        <!-- 未ログインの場合 -->
        <th:block th:if="${session['loginUser'] == null}">
            <div style="text-align: center;">
                <input type="submit" value="ログインページへ戻る" onclick="redirectToLogin();">
            </div>
        </th:block>
    </body>

    <!-- フッター読み込み -->
    <div th:include="common/footer"></div>
</html>